
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

input[type=time]::-webkit-inner-spin-button, 
input[type=time]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

table {
    margin: auto;
}

tr {
    padding-bottom: 5px;
}

td {
    padding: 5px 60px 5px 10px;
}

.smallpadding {
    padding: 5px 10px 5px 10px;
}

.circle {

   border-radius: 50%;
   display: inline-block;
   margin-right: 20px;
   
}

._11 {
    background-color: #e50000;
    padding: 10px;
}

._5 {
    background-color: #e5e500;
    padding: 10px;
}

._10 {
    background-color: #00e500;
    padding: 10px;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.top-right-link {
  right: 20px;
}

.mouse-over {
    cursor: pointer;
}

.responsive-iframe-container {
    position: relative;
    padding-bottom: 70.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-iframe-container iframe,   
.vresponsive-iframe-container object,  
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.responsive-twoweeks {
    position: relative;
    padding-bottom: 70.25%;
    padding-top: 30px;
    height: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  padding-bottom: 20px;
  margin-bottom: 150px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 60px;
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.footer p:last-child {
  margin-bottom: 0;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 960px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

#calendar {
	margin: 0 auto;
}